@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<img alt="Error" title="Error" src="~/Content/Images/Error.png" />*@
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Controller: @Model.ControllerName</h3> 
<h3>Action: @Model.ActionName</h3>

<h3>Details:</h3>
<textarea readonly="readonly">
@{ 
    if (Request.Url.AbsoluteUri.Contains("localhost"))
    {
        @Model.Exception.ToString()
    }
    else{
        @Model.Exception.Message
    }
}


</textarea>

